body {
  transition: background-color 0.5s ease;
}

#root {
  max-width: 1281px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  color: white;
}

.title-screen {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.select-game-button {
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border-radius: 25px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.select-game-button:hover {
  background-color: #45a049;
}

.arrow-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 2px solid #fff;
  cursor: pointer;
  user-select: none;
}

.arrow-box.left {
  left: -200px;
}

.arrow-box.right {
  right: -200px;
}

.game-logo {
  max-width: 830px; /* Reduced size */
  max-height: 710px; /* Reduced size */
  object-fit: contain; /* Maintain aspect ratio */
}